<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />


    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="../static/css/admin.css" />


</head>
<body>

    <div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <h1 style="text-align:center"> Employees </h1>

                <div class="col-lg-10 col-md-6  col-lg-offset-1">
                    <div class="well">
                        <h3 align="center">Search Filter</h3>
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label for="first_name" class="control-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" />
                            </div>

                            <div class="form-group">
                                <label for="last_name" class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="last_name" />
                            </div>

                            <div class="form-group">
                                <label for="employee_type" class="control-label">Role</label>
                                <select class="form-control" name="" id="employee_type">
                                    <option value="">Any</option>
                                    <option value="">Manager</option>
                                    <option value="">Call center agent</option>
                                    <option value="">Courier</option>
                                </select>
                            </div>

                            <p class="text-center"><a href="#" class="btn btn-danger glyphicon glyphicon-search" role="button"></a></p>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Registration date</th>
                                <th>E-mail</th>
                                <th>Phone</th>
                                <!--<th>Role</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="emp, iter: ${employees}">
                                <td th:text="${iter.index + 1}">1</td>
                                <td th:text="${emp.contact.firstName}">First</td>
                                <td th:text="${emp.contact.lastName}">Last</td>
                                <td th:text="${emp.registrationDate}">2018-02-16 15:44:02.663752</td>
                                <td th:text="${emp.email}">mail@gmail.com</td>
                                <td th:text="${emp.contact.phoneNumber}">+380777777777</td>
                                <!-- TODO investigate how to display roles -->
                                <!--<td>Manager</td>-->
                                <td>

                                    <a href="#"
                                       th:href="@{'/crud/employee/' + ${emp.id}}"
                                    >Update</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="fragments/footer :: footer">
    </div>

    <div th:replace="fragments/left_menu :: left-menu-footer">
    </div>

</body>
</html>