<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />


    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="../static/css/admin.css" />


</head>
<body>

    <div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <h1 style="text-align:center"> Offices </h1>

                <div class="col-lg-10 col-md-6  col-lg-offset-1">
                    <div class="well">

                        <h3 align="center">Search Filter</h3>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="address" class="control-label">Address</label>
                                <input type="text" class="form-control" id="address" />
                            </div>
                            <div class="form-group">
                                <label for="department_number" class="control-label">Department Number</label>
                                <input type="text" class="form-control" id="department_number" />
                             </div>

                        </form>
                        <form method="post" action="/admin/FindOfficeByDepartment">
                            <label for="offices">Department name:</label>

                            <input type="text" id="offices" name="department" placeholder="name "/>
                            <br/>
                            <input type="submit" value="send"/>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Address</th>
                                <th>Department Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="office : ${offices}">
                                <td th:text="${office.officeId}"></td>
                                <td th:text="${office.address}"></td>
                                <td th:text="${office.name}"></td>
                                <td>
                                    <a class="material-icons button delete" th:href="${'/admin/office/delete/' + office.officeId}">delete</a>
                                    <a class="material-icons button delete" th:href="${'/admin/office/update/' + office.officeId}">edit</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    <th:block th:replace="fragments/footer :: footer"/>


    <th:block th:replace="fragments/left_menu :: left-menu-footer" />
    <script type="text/javascript">
        document.getElementById('offices').className='active';
    </script>

</body>
</html>