<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />
    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="../static/css/admin.css" />


</head>
<body>

<div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <h1 style="text-align:center"> Offices </h1>

                <div class="col-lg-10 col-md-6  col-lg-offset-1">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Caption</th>
                                <th>Description</th>
                                <th>Publication Date</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="advertisement, iter : ${advertisements}">
                                <td th:text="${iter.index + 1}"></td>
                                <td th:text="${advertisement.caption}"></td>
                                <td th:text="${advertisement.description}"></td>
                                <td th:text="${advertisement.publicationDate}"></td>
                                <td th:text="${advertisement.type.name}"></td>
                                <td>
                                    <form th:action="@{'/admin/crud/advertisement/update/' + ${advertisement.id}}" th:method="POST">
                                        <button type="submit" name="submit" value="value" class="btn btn-link">edit</button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{'/admin/crud/advertisement/delete/' + ${advertisement.id}}"  th:method="POST">
                                        <button type="submit" name="submit" value="value" class="btn btn-link">delete</button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"/>


<th:block th:replace="fragments/left_menu :: left-menu-footer" />


</body>
</html>