<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />


    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="../static/css/admin.css" />


</head>
<body>

    <div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <h1 style="text-align:center"> Create/Update/Delete Office </h1>

                <div class="col-lg-10 col-md-6  col-lg-offset-1">

                    <form style=""  th:object="${office}"  th:action="@{/admin/crud/office}" method = "post" action = "">

                        <div class="form-group required">
                            <label for="address" class="control-label">Address</label>
                            <input type="number" class="form-control" id="address" required="required" placeholder=""   th:field="*{address}"/>
                        </div>

                        <!-- If we create -->
                        <div class="form-group required">
                            <label for="department_number" class="control-label">Department Number</label>
                            <input type="text" class="form-control" id="department_number" required="required" placeholder=""  th:field="*{name}" />
                        </div>

                        <!--&lt;!&ndash; If we update &ndash;&gt;-->
                        <!--<div class="form-group">-->
                            <!--<label for="department_number_read" class="control-label">Department Number</label>-->
                            <!--<input type="text" class="form-control" id="department_number_read" placeholder="" readonly="readonly"   th:field="*{name}"/>-->
                        <!--</div>-->
                        <div style = "margin-top: 3em;" class="form-group">
                            <button class="btn btn-primary">Save</button>
                        </div>


                    </form>

                </div>

            </div>

        </div>
    </div>
    </div>

    <th:block th:replace="fragments/footer :: footer"/>


    <th:block th:replace="fragments/left_menu :: left-menu-footer" />
    <script type="text/javascript">
        document.getElementById('crud_office').className='active';
    </script>

</body>
</html>