<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title>Confirm email address</title>
<style>
    h1 {
        font-size: 48px;
        text-align: center;
    }

    .redirect-msg {
        text-align: center;
    }

</style>
<body>
    <h1 style="font-size: 48px; text-align: center">Activate your account</h1>
    <div class="redirect-msg">
        Message with activation link was sent to provided email.
        <br/>
        You will be redirected to <a th:href="@{/index.html}" href="#" id="index">main</a> page after 10 seconds.
    </div>


    <script>
        function redirectToIndex() {
            var indexHref = document.getElementById("index").getAttribute("href");
            location.assign(indexHref);
        }

        setTimeout(redirectToIndex, 10000);
    </script>
</body>
</html>