<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />


    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="../../static/css/admin.css" />

    <script src="../../static/js/validate-password-confirm.js" th:src="@{/js/validate-password-confirm.js}"></script>

</head>
<body>

<div class="row">

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <h1 style="text-align:center"> Personal Area </h1>

                <div class="col-lg-10 col-md-6  col-lg-offset-1">

                    <div th:if="${param.save}">
                        <div class="alert alert-info">
                            Your profile changes have been saved successfully.
                        </div>
                    </div>

                    <!-- Form for creating employee -->
                    <form style="" th:object="${user}" th:action="@{'/user/personal/' + ${user.id}}" th:method="POST">

                        <div class="form-group required"
                             th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
                            <label for="first_name" class="control-label">First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder=""
                                   required="required" minlength="1" maxlength="45"
                                   th:field="*{firstName}"/>
                            <div class="has-error help-block"
                                 th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}">
                            </div>
                        </div>

                        <div class="form-group required"
                             th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
                            <label for="last_name" class="control-label">Last Name</label>
                            <input type="text" class="form-control" id="last_name" placeholder=""
                                   required="required" minlength="1" maxlength="45"
                                   th:field="*{lastName}"/>
                            <div class="has-error help-block"
                                 th:if="${#fields.hasErrors('lastName')}"
                                 th:errors="*{lastName}">
                            </div>
                        </div>

                        <div class="form-group required"
                             th:classappend="${#fields.hasErrors('userName')}? 'has-error'">
                            <label for="username" class="control-label">Username</label>
                            <input type="text" class="form-control" id="username" placeholder=""
                                   required="required" minlength="6" maxlength="30"
                                   th:field="*{userName}"/>
                            <div class="has-error help-block"
                                 th:if="${#fields.hasErrors('userName')}"
                                 th:errors="*{userName}">
                            </div>
                        </div>

                        <div class="form-group required"
                             th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                            <label for="email" class="control-label">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder=""
                                   required="required" minlength="6" maxlength="254"
                                   th:field="*{email}"/>
                            <div class="has-error help-block"
                                 th:if="${#fields.hasErrors('email')}"
                                 th:errors="*{email}">
                            </div>
                        </div>

                        <div class="form-group required"
                             th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error'">
                            <label for="phone" class="control-label">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder=""
                                   required="required" minlength="7" maxlength="15"
                                   th:field="*{phoneNumber}"/>
                            <div class="has-error help-block"
                                 th:if="${#fields.hasErrors('phoneNumber')}"
                                 th:errors="*{phoneNumber}">
                            </div>
                        </div>

                        <div style = "margin-top: 3em;" class="form-group">
                            <button class="btn btn-primary" name="action" value="save">Save changes</button>
                            <button class="btn btn-danger" name="action" value="delete">Delete profile</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">
</div>

</body>
</html>