<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email address verification</title>

    <style>
        .welcome-text {
            font-size: 32px;
            padding: 5px 5px 5px 30px;

            background: #3B3E48;
            color: #d5d9e1;
        }

        .confirm-msg span {
            display: block;

            background: #e4e7ed;
            color: #494f5c;
            padding: 10px;
        }

        .company-name {
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div>
        <div class="welcome-text">
            Logistics Company Inc.
        </div>
        <div class="confirm-msg">
            <span th:text="Greetings, ${lastName} ${firstName}">Greetings, %lastName% %firstName%</span>
                <span>
              Thank you for choosing our service.
            </span>
                <span>
              To complete your registration, click on the link to verify your email address:
            </span>
                <span>
              <a th:href="@{/confirmation(id=${id})}">http://www.example.com</a>
            </span>
                <span>
              If you did not initiate registration request, ignore this message. This temporary link will expire shortly.
              </span>
                <span>
              Sincerely,
              <br>
              Logistics company Inc
            </span>
        </div>
    </div>
</body>
</html>