<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />

    <title>Employee page</title>

    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="/static/css/admin.css" />

</head>
<body>


            <div th:replace="fragments/left_menu :: left-menu-header">
            </div>

            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="row">

            <h1>Employee page</h1>

            <h1 th:inline="text">Hello, employee!</h1>

            <h3>All your functions are on your left!</h3>


                    </div>
                </div>
            </div>




    <div th:replace="fragments/footer :: footer">
    </div>

</body>
</html>