<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />

    <title>Employee page</title>

    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

</head>
<body>

    <div class="container">

        <div class="starter-template">
            <h1>Employee page</h1>

            <h1 th:inline="text">Hello, employee!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>

            <h1>Roles</h1>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <div th:replace="fragments/admin :: admin-fragment">
                </div>
            </div>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <div th:replace="fragments/manager :: manager-fragment">
                </div>
            </div>


        </div>

    </div>
    <!-- /.container -->

    <div th:replace="fragments/footer :: footer">
    </div>

</body>
</html>