<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header-bootstrap-config">
    </div>

    <title>Landing page</title>

    <div th:replace="fragments/header :: header-bootstrap-config-IE">
    </div>

</head>
<body>

    <div class= "container">
        <h1>Landing page</h1>
        <a th:href = "@{/login}">Login</a>
        <a th:href = "@{/registration}">Register</a>
    </div>

    <div th:replace="fragments/footer :: footer">
    </div>

</body>
</html>