<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header-bootstrap-config">
    </div>

    <link th:href="@{/css/registration.css}" href="../static/css/registration.css" rel="stylesheet"/>

    <div th:replace="fragments/header :: header-bootstrap-config-IE">
    </div>

    <script type="text/javascript">
        function validate(input) {
            if (input.value != document.getElementById("password").value) {
                input.setCustomValidity("Passwords don't match");
            } else {
                input.setCustomValidity("");
            }
        }
    </script>


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <h1>Register</h1>

                <form action="#" method="post" th:action="@{/registration}" th:object="${registrationData}">

                    <div class="form-group required">
                        <label for="first_name" class="control-label">Name</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <input type="text" class="form-control" id="first_name" placeholder="First name"
                                       required="required" minlength="1" maxlength="45"
                                       th:field="*{firstName}"/>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <input type="text" class="form-control" id="last_name"
                                       placeholder="Last name"
                                       required="required" minlength="1" maxlength="45"
                                       th:field="*{lastName}"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder=""
                               required="required" minlength="6" maxlength="30"
                               th:field="*{username}"/>
                    </div>

                    <div class="form-group required">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder=""
                               required="required" minlength="6" maxlength="30"
                               th:field="*{password}"/>
                    </div>

                    <div class="form-group required">
                        <label for="repeat_password" class="control-label">Repeat password</label>
                        <input type="password" class="form-control" id="repeat_password"
                               placeholder="" oninput="validate(this)"
                               required="required" minlength="6" maxlength="30"/>
                    </div>

                    <div class="form-group required">
                        <label for="email" class="control-label">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder=""
                               required="required" minlength="6" maxlength="254"
                               th:field="*{email}"/>
                    </div>

                    <div class="form-group required">
                        <label for="phone" class="control-label">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder=""
                               minlength="7" maxlength="15"
                               th:field="*{phoneNumber}"/>
                    </div>

                    <div class="form-group">
                        <button style="margin-top: 1em" type="submit" class="btn btn-primary">Register now!</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">
    </div>

</body>
</html>