<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Registration</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <link th:href="@{/css/registration.css}" href="../static/css/registration.css" rel="stylesheet"/>

    <script type="text/javascript">
        function validate(input) {
            if (input.value != document.getElementById("password").value) {
                input.setCustomValidity("Passwords don't match");
            } else {
                input.setCustomValidity("");
            }
        }
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

            <h1>Register</h1>

            <form action="#" method="post" th:action="@{/registration}" th:object="${registrationData}">

                <div class="form-group required">
                    <label for="first_name" class="control-label">Name</label>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" id="first_name" placeholder="First name"
                                   required="required" minlength="1" maxlength="45"
                                   th:field="*{firstName}"/>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" class="form-control" id="last_name"
                                   placeholder="Last name"
                                   required="required" minlength="1" maxlength="45"
                                   th:field="*{lastName}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group required">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder=""
                           required="required" minlength="6" maxlength="30"
                           th:field="*{username}"/>
                </div>

                <div class="form-group required">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder=""
                           required="required" minlength="6" maxlength="30"
                           th:field="*{password}"/>
                </div>

                <div class="form-group required">
                    <label for="repeat_password" class="control-label">Repeat password</label>
                    <input type="password" class="form-control" id="repeat_password"
                           placeholder="" oninput="validate(this)"
                           required="required" minlength="6" maxlength="30"/>
                </div>

                <div class="form-group required">
                    <label for="email" class="control-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder=""
                           required="required" minlength="6" maxlength="254"
                           th:field="*{email}"/>
                </div>

                <div class="form-group required">
                    <label for="phone" class="control-label">Phone</label>
                    <input type="text" class="form-control" id="phone" placeholder=""
                           minlength="7" maxlength="15"
                           th:field="*{phoneNumber}"/>
                </div>

                <div class="form-group">
                    <button style="margin-top: 1em" type="submit" class="btn btn-primary">Register now!</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>