<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="fragments/header :: header-bootstrap-config" />

    <title>Admin_Publish_Advertisements</title>

    <th:block th:replace="fragments/header :: header-bootstrap-config-IE" />

    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css" href="../static/css/admin.css" />

</head>
<body>

    <div class="row">

    <div th:replace="fragments/left_menu :: left-menu-header">
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">

                <div th:if="${update}">
                    <h3 align="center">Update advertisement</h3>
                </div>
                <div th:unless="${update}">
                    <h1 style="text-align:center"> Create new advertisement </h1>
                </div>


                <div class="col-lg-10 col-md-10 col-md-offset-1 col-lg-offset-1">

                    <div th:if="${param.success}">
                        <div class="alert alert-success">
                            Advertisement has been successfully published.
                        </div>
                    </div>

                    <div class="well">

                        <div th:unless="${update}">
                            <h3 align="center">New Advertisement</h3>
                        </div>

                        <form class="form-horizontal" method="post"
                              th:action="${update} ? @{'/admin/crud/advertisement/update/' + ${advertisement.id}} : @{/admin/crud/advertisement}"
                              th:object="${advertisement}" >

                            <div class="form-group">
                                <label for="advertisement_type" class="control-label">Type</label>
                                <select class="form-control" name="" id="advertisement_type" th:field="*{type}">
                                    <option value="Advertisement">Advertisement</option>
                                    <option value="Announcement">Announcement</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <div class="form-group required">
                                <label for="name" class="control-label">Caption</label>
                                <input type="text" class="form-control" id="name" placeholder=""
                                required="required" minlength="3" maxlength="200"
                                th:field="*{caption}"/>
                            </div>

                            <div class="form-group">
                                <label for="description" class="control-label">Description</label>
                                <textarea class="form-control" rows="5" id="description" th:field="*{description}"
                                          required="required" minlength="10" maxlength="1000"></textarea>
                            </div>

                            <p class="text-center"><input type="submit" class="btn btn-success" value="Publish" /></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <th:block th:replace="fragments/footer :: footer"/>
    <th:block th:replace="fragments/left_menu :: left-menu-footer" />

    <script type="text/javascript">
        document.getElementById('crud_advertisement').className='active';
    </script>

</body>
</html>